.currency-component {
  max-width: 465px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;

  input[type='number'] {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: rgba(0, 0, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 30px;
  }

  select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    max-height: 200px;
    overflow: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    color: rgba(0, 0, 0);
    border: 1px solid black;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .currency-name {
    margin: 15px auto 0;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
}
